@import "tailwindcss";

@theme {
  --font-sans: 'Quicksand', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

  /* Carbon Dark Theme Variables */
  --color-carbon: #07080b;
  --color-surface: #0e1016;
  --color-emerald-accent: #10b981;
  --color-gold-accent: #8b5cf6;
}

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #07080b;
  }

  body {
    @apply bg-carbon text-slate-400 font-sans tracking-tight;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight text-white;
  }
}

@utility container-custom {
  @apply max-w-5xl mx-auto px-6 sm:px-8;
}

/* Custom Grid Mesh Overlay */
.bg-grid-mesh {
  background-size: 50px 50px;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.015) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.015) 1px, transparent 1px);
  mask-image: radial-gradient(circle at 50% 30%, black 50%, transparent 100%);
}